.formComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.field1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
